In [1]:
import pandas as pd

# Reading data from an Excel file into a DataFrame
data = pd.read_excel("expense3.xlsx")

# Printing the DataFrame
print(data)

   Client ID               Name  Age     Sex  Location ID Joined Bank  \
0   PKR81288      Raymond Mills   24    Male        34324  2019-05-06
1   PKR65833      Julia Spencer   23    Male        42205  2001-12-10
2   PKR47499     Stephen Murray   27  Female         7314  2010-01-25
3   PKR72498     Virginia Garza   40    Male        34594  1993-03-28
4   PKR60181    Melissa Sanders   46  Female        41269  2012-07-20
5   PKR78532      Samuel Hudson   23    Male        13204  2019-02-07
6   PKR95683  Timothy Alexander   46  Female        42910  2002-06-02
7   PKR40785        Carl Martin   78  Female         6127  2000-11-03
8   PKR13570         Philip Day   67  Female        32656  2015-04-07
9   PKR53299         Jason Sims   51    Male        28340  1995-11-20
10  PKR76263       Amy Martinez   55    Male        40459  2014-10-18
11  PKR56452     David Johnston   73  Female        25563  2005-09-12
12  PKR28766       Wayne Foster   45  Female        35687  2018-03-17
13  PKR17897       Carlos Moore   44  Female        19554  1996-01-02
14  PKR86325      Lisa Johnston   36    Male        33368  1994-06-05
15  PKR74197       Andrew Mills   55    Male        27913  1997-01-06
16  PKR28503       Jack Coleman   61  Female         9505  2014-06-22
17  PKR56539          Aaron Day   56  Female        36232  1994-01-19
18  PKR53604       Kevin Weaver   43  Female         6299  2019-03-31
19  PKR32064           Mary Fox   63  Female         7694  2009-03-09
20  PKR72934      Carlos Little   41    Male        38321  1998-04-03
21  PKR16101         Roger Boyd   58  Female        12772  2015-12-31
22  PKR74197       Andrew Mills   55    Male        27913  1997-01-06
23  PKR28503       Jack Coleman   61  Female         9505  2014-06-22
24  PKR56539          Aaron Day   56  Female        36232  1994-01-19
25  PKR53604       Kevin Weaver   43  Female         6299  2019-03-31
26  PKR32064           Mary Fox   63  Female         7694  2009-03-09
27  PKR72934      Carlos Little   41    Male        38321  1998-04-03
28  PKR16101         Roger Boyd   58  Female        12772  2015-12-31

     Banking Contact Nationality                 Occupation  \
0     Anthony Torres    American       Safety Technician IV
1   Jonathan Hawkins     African        Software Consultant
2      Anthony Berry    European         Help Desk Operator
3         Steve Diaz    American               Geologist II
4         Shawn Long    American        Assistant Professor
5     Douglas Tucker    American       Help Desk Technician
6     Douglas Tucker       Asian        Account Coordinator
7         Steve Diaz    European   Automation Specialist II
8       Bruce Butler       Asian  Software Test Engineer II
9          Joe Price    European              Geologist III
10    Adam Hernandez    European     Administrative Officer
11   Chris Armstrong    American  Database Administrator II
12       Joshua Ryan     African            Staff Scientist
13       Paul Larson    American               Programmer I
14   Mark Montgomery       Asian   Software Test Engineer I
15     Shawn Wallace    European                    Actuary
16     Ernest Rivera       Asian        Staff Accountant II
17   Gregory Simmons       Asian    Assistant Media Planner
18       Frank Brown    American         Staff Accountant I
19    Adam Hernandez  Australian       Compensation Analyst
20  Jonathan Hawkins    American                Geologist I
21    Adam Hernandez    European            Web Designer II
22     Shawn Wallace    European                    Actuary
23     Ernest Rivera       Asian        Staff Accountant II
24   Gregory Simmons       Asian    Assistant Media Planner
25       Frank Brown    American         Staff Accountant I
26    Adam Hernandez  Australian       Compensation Analyst
27  Jonathan Hawkins    American                Geologist I
28    Adam Hernandez    European            Web Designer II

   Investment Advisor Fee Structure Loyalty Classification  \
0         Victor Dean          High                   Jade
1       Jeremy Porter          High                   Jade
2       Ernest Knight          High                   Gold
3           Eric Shaw           Mid                 Silver
4           Kevin Kim           Mid               Platinum
5       Victor Rogers          High                 Silver
6   Eugene Cunningham          High                   Gold
7         Joe Carroll           Mid                   Gold
8       Steve Sanchez          High                 Silver
9         Joe Carroll           Mid                 Silver
10      Victor Rogers          High                   Jade
11  Eugene Cunningham           Mid                   Jade
12      Steve Sanchez           Low                 Silver
13   Lawrence Sanchez          High                   Jade
14      Ernest Knight          High               Platinum
15     Peter Castillo           Mid                 Silver
16   Lawrence Sanchez          High                 Silver
17   Victor Gutierrez           Low                   Jade
18     Daniel Carroll           Low                   Jade
19  Eugene Cunningham           Mid                   Jade
20      Carl Anderson           Low                   Jade
21      Nicholas Ward          High                   Jade
22     Peter Castillo           Mid                 Silver
23   Lawrence Sanchez          High                 Silver
24   Victor Gutierrez           Low                   Jade
25     Daniel Carroll           Low                   Jade
26  Eugene Cunningham           Mid                   Jade
27      Carl Anderson           Low                   Jade
28      Nicholas Ward          High                   Jade

   Banking Relationship  Estimated Income
0                Retail        75384.7686
1                Retail       289834.3140
2         Institutional       169935.2252
3         Institutional       356808.1125
4          Private Bank       130711.6800
5          Private Bank       118326.9600
6         Institutional        57336.4736
7                Retail        65125.7984
8          Private Bank        87849.4734
9         Institutional        65369.3600
10           Commercial        74966.5125
11           Commercial       111449.0562
12        Institutional       115637.1888
13           Commercial       124434.7776
14         Private Bank       260795.3376
15               Retail        78892.5201
16               Retail       257120.2197
17               Retail       145704.5538
18               Retail        34404.1600
19           Commercial       129060.8774
20               Retail       129981.3132
21         Private Bank       123545.4195
22               Retail        78892.5201
23               Retail       257120.2197
24               Retail       145704.5538
25               Retail        34404.1600
26           Commercial       129060.8774
27               Retail       129981.3132
28         Private Bank       123545.4195

In [34]:
print(data.duplicated())

# data.duplicated(): This Pandas method checks for duplicated rows in the DataFrame. It returns a boolean Series where each element indicates whether the corresponding row in the DataFrame is a duplicate or not.

# print(data.duplicated()): This prints the boolean Series to the console. If a row is a duplicate, the corresponding value in the Series will be True; otherwise, it will be False.

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22     True
23     True
24     True
25     True
26     True
27     True
28     True
dtype: bool

In [35]:
# Checking for duplicate entries in the 'Name' column and printing the count
print(data['Name'].duplicated().sum())

7

In [36]:
print(data['Name'].duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22     True
23     True
24     True
25     True
26     True
27     True
28     True
Name: Name, dtype: bool

In [38]:
print(data.drop_duplicates("Name")) #only uniq vlue

   Client ID               Name  Age     Sex  Location ID Joined Bank  \
0   PKR81288      Raymond Mills   24    Male        34324  2019-05-06
1   PKR65833      Julia Spencer   23    Male        42205  2001-12-10
2   PKR47499     Stephen Murray   27  Female         7314  2010-01-25
3   PKR72498     Virginia Garza   40    Male        34594  1993-03-28
4   PKR60181    Melissa Sanders   46  Female        41269  2012-07-20
5   PKR78532      Samuel Hudson   23    Male        13204  2019-02-07
6   PKR95683  Timothy Alexander   46  Female        42910  2002-06-02
7   PKR40785        Carl Martin   78  Female         6127  2000-11-03
8   PKR13570         Philip Day   67  Female        32656  2015-04-07
9   PKR53299         Jason Sims   51    Male        28340  1995-11-20
10  PKR76263       Amy Martinez   55    Male        40459  2014-10-18
11  PKR56452     David Johnston   73  Female        25563  2005-09-12
12  PKR28766       Wayne Foster   45  Female        35687  2018-03-17
13  PKR17897       Carlos Moore   44  Female        19554  1996-01-02
14  PKR86325      Lisa Johnston   36    Male        33368  1994-06-05
15  PKR74197       Andrew Mills   55    Male        27913  1997-01-06
16  PKR28503       Jack Coleman   61  Female         9505  2014-06-22
17  PKR56539          Aaron Day   56  Female        36232  1994-01-19
18  PKR53604       Kevin Weaver   43  Female         6299  2019-03-31
19  PKR32064           Mary Fox   63  Female         7694  2009-03-09
20  PKR72934      Carlos Little   41    Male        38321  1998-04-03
21  PKR16101         Roger Boyd   58  Female        12772  2015-12-31

     Banking Contact Nationality                 Occupation  \
0     Anthony Torres    American       Safety Technician IV
1   Jonathan Hawkins     African        Software Consultant
2      Anthony Berry    European         Help Desk Operator
3         Steve Diaz    American               Geologist II
4         Shawn Long    American        Assistant Professor
5     Douglas Tucker    American       Help Desk Technician
6     Douglas Tucker       Asian        Account Coordinator
7         Steve Diaz    European   Automation Specialist II
8       Bruce Butler       Asian  Software Test Engineer II
9          Joe Price    European              Geologist III
10    Adam Hernandez    European     Administrative Officer
11   Chris Armstrong    American  Database Administrator II
12       Joshua Ryan     African            Staff Scientist
13       Paul Larson    American               Programmer I
14   Mark Montgomery       Asian   Software Test Engineer I
15     Shawn Wallace    European                    Actuary
16     Ernest Rivera       Asian        Staff Accountant II
17   Gregory Simmons       Asian    Assistant Media Planner
18       Frank Brown    American         Staff Accountant I
19    Adam Hernandez  Australian       Compensation Analyst
20  Jonathan Hawkins    American                Geologist I
21    Adam Hernandez    European            Web Designer II

   Investment Advisor Fee Structure Loyalty Classification  \
0         Victor Dean          High                   Jade
1       Jeremy Porter          High                   Jade
2       Ernest Knight          High                   Gold
3           Eric Shaw           Mid                 Silver
4           Kevin Kim           Mid               Platinum
5       Victor Rogers          High                 Silver
6   Eugene Cunningham          High                   Gold
7         Joe Carroll           Mid                   Gold
8       Steve Sanchez          High                 Silver
9         Joe Carroll           Mid                 Silver
10      Victor Rogers          High                   Jade
11  Eugene Cunningham           Mid                   Jade
12      Steve Sanchez           Low                 Silver
13   Lawrence Sanchez          High                   Jade
14      Ernest Knight          High               Platinum
15     Peter Castillo           Mid                 Silver
16   Lawrence Sanchez          High                 Silver
17   Victor Gutierrez           Low                   Jade
18     Daniel Carroll           Low                   Jade
19  Eugene Cunningham           Mid                   Jade
20      Carl Anderson           Low                   Jade
21      Nicholas Ward          High                   Jade

   Banking Relationship  Estimated Income
0                Retail        75384.7686
1                Retail       289834.3140
2         Institutional       169935.2252
3         Institutional       356808.1125
4          Private Bank       130711.6800
5          Private Bank       118326.9600
6         Institutional        57336.4736
7                Retail        65125.7984
8          Private Bank        87849.4734
9         Institutional        65369.3600
10           Commercial        74966.5125
11           Commercial       111449.0562
12        Institutional       115637.1888
13           Commercial       124434.7776
14         Private Bank       260795.3376
15               Retail        78892.5201
16               Retail       257120.2197
17               Retail       145704.5538
18               Retail        34404.1600
19           Commercial       129060.8774
20               Retail       129981.3132
21         Private Bank       123545.4195